.flexbox-row {
    display: flex;
    flex-direction: row;
}

.donate-online-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: auto;
}

.separator.separator-long {
    width: 600px;
}

.malawi-blockquote {
    position: unset !important;
    top: unset !important;
    right: unset !important;
    width: unset !important;
}