<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/site/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/site/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Alphonse and Lucy Griffith Paré Foundation</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
    
    
    <link href="/site/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://parefoundation.gitlab.io/site/sass/now-ui-kit.min.a29c3c7ed6d8b2c763320f5b2b3c5b477afc5ce3a8965442457beac985ad255e.css" rel="stylesheet">
    <link href="/site/css/demo.css" rel="stylesheet" />
    
  <link rel="stylesheet" href="https://parefoundation.gitlab.io/site/css/highlight.min.css"><link rel="stylesheet" href="https://parefoundation.gitlab.io/site/css/additional.css"><link rel="stylesheet" href="https://parefoundation.gitlab.io/site/css/override.css">
</head>

  
	<body class="profile-page sidebar-collapse">
    
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/site" rel="tooltip" title="" data-placement="bottom" target="_blank">
                    Alphonse and Lucy Griffith Paré Foundation
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="/site/img/blurred-image-1.jpg">
              <ul class="navbar-nav  ml-auto">
      
        
        <li class="nav-item">
          <a class="nav-link" href="/site/fr/giving/">
            <i class='now-ui-icons business_money-coins'></i>
            <span>Donnez</span>
          </a>
        </li>
        
      
        
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown">
            <i class='now-ui-icons business_bank'></i> <span>Projets</span>
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            
            <a class="dropdown-item" href="/site/fr/projects/malawi/">
                <i class='now-ui-icons files_paper'></i>
                <span>Malawi</span>
              </a>
            
            <a class="dropdown-item" href="/site/fr/projects/haiti/">
                <i class='now-ui-icons files_paper'></i>
                <span>Haïti</span>
              </a>
            
            <a class="dropdown-item" href="/site/fr/projects/dominican_republic/">
                <i class='now-ui-icons files_paper'></i>
                <span>République Dominicaine</span>
              </a>
            
            <a class="dropdown-item" href="/site/fr/projects/india/">
                <i class='now-ui-icons files_paper'></i>
                <span>Inde</span>
              </a>
            
            <a class="dropdown-item" href="/site/fr/projects/canada/">
                <i class='now-ui-icons files_paper'></i>
                <span>Canada</span>
              </a>
            
            <a class="dropdown-item" href="/site/fr/projects/past/">
                <i class='now-ui-icons files_paper'></i>
                <span>Anciens projets</span>
              </a>
            
          </div>
        </li>
        
      
        
        <li class="nav-item">
          <a class="nav-link" href="/site/fr/about/">
            <i class='now-ui-icons users_single-02'></i>
            <span>À propos</span>
          </a>
        </li>
        
      
        
        <li class="nav-item">
          <a class="nav-link" href="/site/fr/bod/">
            <i class='now-ui-icons clothes_tie-bow'></i>
            <span>Directeurs</span>
          </a>
        </li>
        
      
        
        <li class="nav-item">
          <a class="nav-link" href="/site/">
            <i class='now-ui-icons files_paper'></i>
            <span>English</span>
          </a>
        </li>
        
      
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="wrapper">
      
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('https://parefoundation.gitlab.io/site/img/header.jpg');">
            </div>
            
            
<div class="container">
  <div class="content-center">
    <h1 class="title">Write the best title for your page.</h1>
    <div class="text-center">
       Your page can also have a small description after the big bold title, that's why we added this text here. Add here all the information that can make you or your product create the first impression. 
    </div>
  </div>
</div>

            
        </div>
        <div class="section">
            <div class="container">
              
            
<div class="row">
  <div class="col-md-8 ml-auto mr-auto text-left">
  <p>Here comes the body of the page&hellip;</p>

<pre><code class="language-r">## Look, a code block!
library(tidyverse)
1 + 1
</code></pre>

  </div>   
</div>


            </div>
        </div>
      <footer class="footer" data-background-color="black">
  <div class="container">
    <nav>
	    <ul>
	    
      </ul>
    </nav>
  </div>
</footer>
    </div>
  </body>

<script src="/site/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/site/js/core/popper.min.js" type="text/javascript"></script>
<script src="/site/js/core/bootstrap.min.js" type="text/javascript"></script>

<script src="/site/js/plugins/bootstrap-switch.js"></script>

<script src="/site/js/plugins/nouislider.min.js" type="text/javascript"></script>

<script src="/site/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>

<script src="/site/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>

    
    
    
      
    
      
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>

      

      
      <script>hljs.initHighlightingOnLoad();</script>
    

    
    
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>
    <script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
    
    
</html>
